<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Index template</title>
</head>
<body>
{%  include "head/header.html" %}
<!--
<h1 class="text-3xl font-bold underline">Primer projecte - app prova</h1>
<p>Benvinguts a la primera app prova</p>
<div>
    <div>
        <label>Nom: </label> {{nombre}}
    </div>
    <div>
        <label>Cognom: </label> {{cognom}}
    </div>
    <div>
        <label>Edat: </label> {{edat}}
    </div>
</div>
-->

{% block content %}

{% endblock %}
</body>
</html>